body{
	color: black;
}

a { color: inherit; } 
a:hover{ cursor: pointer; }

.link-button {
	font-size: 5mm;
	border: solid;
	border-radius: 10px;
	border-color: black;
	padding: 0.5%;
	width: 15%;
	position: relative;
	text-align: center;
}

.center-title{
	text-align:center;
	margin-top:2%;
	margin-bottom:2%;
}

.disp-flexCol{
	display: flex;
	flex-direction: column;
}

.disp-flexRow{
	display: flex;
	flex-direction: row;
}

.disp-flexWarp{
	display: flex;
	flex-wrap: wrap;
}

.auto-margin{
	margin-left: 20%;
	width: 100%;
}

.a-to-btn{
	display: block;
    width: 8%;
    background: white;
    padding: 0.3%;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 1px solid;
}

/*STANDAR SHAPE PARA LAS SIGUIENTES ETIQUETAS*/
/*inputs*/
input[type=text], input[type=select], input[type=number], input[type=date], input[type=password]{
	border-radius:8px;
	border:1px solid #333E49;
	padding: 2.5%;
	width: 100%;
}

input[type=image]{
	border-radius:8px;
	padding: 2.5%;
	height: 30px;
}

input[type=radio]{

}
input[type=checkbox]{
	width: 15px;
}

select {
	border-radius:8px;
	border:1px solid #333E49;
	padding: 1.9%;
	width: 100%;
}

label{
	margin-bottom: 3%;
	margin-top: 5%;
}

/*buttons*/
button, input[type=submit]{
	border-radius:8px;
	border:1px solid #333E49;
	padding: 5px;
	text-align: center;
	width: 160px;
	margin-left: 5vw;
}

.reset-btn{
	width: 6%;
	padding: 0.3%;	
}

.transparent-btn{
	background-color: transparent;
	border-color: transparent;
}
/*icon*/
.icon-size{
	width: 32px;
	height: 32px;
	cursor: pointer;
}

/*Styles for forms*/

.row-form{
	float: left;
	margin-left: 4%;
	margin-top: 3%;
}

.button-form{
	margin-top: 5%;
	width: 100%;
}


/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .auto-margin{
		margin-left: 10%;
	}
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .auto-margin{
  		display: flex;
  		flex-direction: row;
		margin-left: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .auto-margin{

  }
}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */

}

/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/