body{
	color: black;
}
.link-button {
	font-size: 5mm;
	border: solid;
	border-radius: 10px;
	border-color: black;
	padding: 0.5%;
	width: 15%;
	position: relative;
	text-align: center;
}

h2{
	color: white;
}

a.link-button{
	color: black;
}

.center-title{
	text-align:center;
	margin-top:2%;
	margin-bottom:2%;
}

/*STANDAR SHAPE PARA LAS SIGUIENTES ETIQUETAS*/
/*inputs*/
.round-border input, select{
	border-radius:8px;
	border:1px solid #333E49;
	padding: 0.5%;
	width: 100%;
}

/*buttons*/
.round-border button{
	width: 30%;
	background-color: #333E49;
	border-color: transparent;
}

.transparent-btn{
	background-color: transparent;
	border-color: transparent;
}
/*icon*/
.icon-size{
	width: 32px;
	height: 32px;
}

/*Styles for forms*/

/*first div*/
/*
.basic-form-container{
	display: flex;
	flex-direction: row;
}

div where the form is
.form-container{
	display: flex;
	flex-direction: column;
}

.submit-btns{
	display: flex;
	flex-direction: row;
	margin-left: 40%;
	margin-top: 5%;
}


.form-format label{
	margin-top: 2%;
}

.form-format input, select{
	margin-top: 4%;
}

.submit-btns {

}
*/