body{
	color: black;
}

a { color: inherit; } 
a:hover  { color: white; } 

.link-button {
	font-size: 5mm;
	border: solid;
	border-radius: 10px;
	border-color: black;
	padding: 0.5%;
	width: 15%;
	position: relative;
	text-align: center;
}

.center-title{
	text-align:center;
	margin-top:2%;
	margin-bottom:2%;
}

.disp-flexCol{
	display: flex;
	flex-direction: column;
}

.disp-flexRow{
	display: flex;
	flex-direction: row;
}

.disp-flexWarp{
	display: flex;
	flex-wrap: wrap;
}

.auto-margin{
	margin-left: 12%;
	width: 100%;
}

.a-to-btn{
	display: block;
    width: 8%;
    background: white;
    padding: 0.3%;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: 1px solid;
}

/*STANDAR SHAPE PARA LAS SIGUIENTES ETIQUETAS*/
/*inputs*/
input {
	border-radius:8px;
	border:1px solid #333E49;
	padding: 2.5%;
	width: 100%;
}


select {
	border-radius:8px;
	border:1px solid #333E49;
	padding: 1.9%;
	width: 100%;
}

label{
	margin-bottom: 3%;
}

/*buttons*/
button{
	border-radius:8px;
	border:1px solid #333E49;
	padding: 0.7%;
	text-align: center;
	width: 20%;
	margin-left: 10%;
}

.reset-btn{
	width: 6%;
	padding: 0.3%;	
}

.transparent-btn{
	background-color: transparent;
	border-color: transparent;
}
/*icon*/
.icon-size{
	width: 32px;
	height: 32px;
}

/*Styles for forms*/

.row-form{
	float: left;
	margin-left: 4%;
	margin-top: 3%;
}

.button-form{
	margin-top: 5%;
	width: 100%;
}

.background{
	background: blue;
}

