/*HEADER*/

.header-img{
  background-image: url('../resources/uabcs_pc_img.png');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 180px;
}

.header-style{
   background-color: #333E49;
   display: flex;
   flex-direction: row;
}


.header-menu{
  width: 100%;
  margin-top: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.item-menu {
  margin-left: 50px;  
  color: white;
  text-decoration: none;
}

#pc-img{
   display: inline-block;
  }

#tablet-img{
    display:none;
}


.hide{
  display: none;
}

/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */

  .header-menu{
    margin-left: 10%;
  }

  .item-menu {
    margin-left: 50px;
  }

  #pc-img{
   display:none;
  }

  #tablet-img{
      display: inline-block;
  }

  .mobile-size{
    height: 20vh;
    margin: 10px;
  }

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .header-menu{
    margin-left: 3%;  
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
  }
  .item-menu {
    margin-left: 20px;  
    color: white;
    text-decoration: none;
  }

  #pc-img{
   display:none;
  }

  #tablet-img{
      display: inline-block;
  }

  .mobile-size{
    height: 20vh;
    margin: 10px;
  }

}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .header-style{
     display: flex;
     flex-direction: row;
  }

  .header-menu{  
    margin-top: 2%;
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
  }

  #pc-img{
   display:none;
  }

  #tablet-img{
      display: inline-block;
  }

  .mobile-size{
    height: 20vh;
    margin: 10px;
  }

}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */

  .header-menu{
    margin-left: 15%;  
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  #pc-img{
   display:none;
  }

  #tablet-img{
      display: inline-block;
  }

  .mobile-size{
    height: 20vh;
    margin: 10px;
  }



}

/*REEEEEEEEEEEEEEEESSPPPPOOOOOOOOOOOOONNNSSSSSIIIIIIIIIVEEEEEEEEEEE*/

/*Notification*/
.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.dropdown-menu.show {
  background-color: #333E49;
}

.dropdown-menu.show a{
    color: white;
}

.notification-dropdown{
  padding: 5%;
  overflow-y:auto;
  max-height: 80vh; 
}

.notification-area{
  color: navy;
  background-color: #7f9ab5;
  padding: 5%;
  width: 25vw;
  height: 15vh;
  overflow-y:auto;
  border:1px #7f9ab5 solid;
  border-radius: 10px;
}

.notification-area:hover{
  background-color: #5b6d80;
  cursor: pointer;
  border:1px #5b6d80 solid;
}

a{
  color: black;
}


/*FOOTER mmmpatas*/

