body{
	width: 100%;
}
.menu-container{
	width: 100%;
}


.btn-container img{
	margin-left: 80px;
}

.menu-title h2{
	color: white;
	text-align:center;
}

.slider {
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
}


.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	height: 600px;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.img-slider img {
	width: 100%;
	height: 90%;
	max-width: none;
	min-width: none;
	filter: blur(3px);
}

.menu{
	width: 100%;
	margin: auto;
	display: flex;
  	justify-content: center;
}

.btn-container{
	flex-direction: row;
	position: absolute;
	top: 40%;
}

.menu-title img{
	
}


@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


@media screen and (max-width:768px) and (min-width: 320px){
	body {
		font-size:2vw; // achicamos la fuente en pantallas pequeñas 
	} 
	.menu-title img{
			width: 50%;
			height: 50%;
		}
}
