body{
	width: 100%;
}
.menu-container{
	width: 100%;
}

.btn-container img{
	margin-left: 80px;
}

.slider {
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

.carousel-item> img {
  	width: 100%;
	height: 630px;	
}

.menu{
	width: 100%;
	margin: auto;
  	float: left;
}

.btn-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	top: 20%;
  	background-color: rgba(0,0,0,0.4);
	width: 100%;
	padding: 2%;
}

/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

	.index-image{
		height: 150px;
	}
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
 
	.index-image{
		height: 150px;
	}

	.btn-container{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.btn-container img{
		margin-left: 120px;
	}
}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */
  .btn-container img{
		margin-left: 80px;
	}
}

/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
