body{
	width: 100%;
}
.menu-container{
	width: 100%;
}

.btn-container img{
	margin-left: 80px;
}

.slider {
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

.carousel-item> img {
  	width: 100%;
	height: 630px;
	filter: blur(3px);
}

.menu{
	width: 100%;
	margin: auto;
	display: flex;
  	justify-content: center;
}

.btn-container{
	flex-direction: row;
	position: absolute;
	top: 20%;
}
