/*INVENTORY PAGE*/







/*INVENTORY PAGE*/

/*ADD INVENTORY PAGE*/
#title{
    text-align: center;
}

.consult-box{

}

.header_list li{
    display: inline;
}

.inv_list{
    margin: 0 auto;
    margin-right: 0;
    margin-top: 20%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.inv_list li{
    display: inline;
    margin: 25px;
   
}
/*ADD INVENTORY PAGE*/