/*ADD INVENTORY*/

.add-col-size{
	width: 29%;
}

.pic-input{
	border-radius:0px;
	border:transparent;
}



/*CONS INVENTORY PART*/

.cons-col-size{
	width: 28%;
}

.cons-nav-bar{
	margin-bottom: 2%;
}