/*ADD INVENTORY*/

.add-col-size{
	width: 29%;
}

.pic-input{
	border-radius:0px;
	border:transparent;
}

/*CONS INVENTORY PART*/

.row-cons{

	width: 100%;
}

.cons-col-size{
	width: 90%;
}

.cons-nav-bar{
	width: 20%;
	background-color: pink;
}

.search-input:focus {
    background-image:none;
    text-indent:0px
   }

/*CONSINVENTORY TABLE*/

.cons-tableRow{

}

.cons-tableCol{
	
}