/*ADD INVENTORY*/

.add-col-size{
	width: 29%;
}

.pic-input{
	border-radius:0px;
	border:transparent;
}

.form-background{
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	width: 70%;
	margin-left: 15%;
	padding: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.background-img{
	background-image: url('../resources/campus_mapa.jpg');
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

/*CONS INVENTORY PART*/

/*side menu*/

.cons-nav-bar{ 
	color: white;
	position:sticky;
	top: 0;
	/*quitar*/
	height: 100vh;
	width: 22%;
	padding: 1%;
	border-top:1px solid black;
	background-color: #333E49;
}

.search-input:focus {
    background-image:none;
    text-indent:0px
}


/*CONSINVENTORY TABLE*/

.consultar{
	width: 73%;
	overflow-x:auto;
	overflow-y:hidden;
}

.cons-tableRow{
	
	 
}

table{
	table-layout: fixed;

}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}


/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */

	.cons-nav-bar{ 
		color: white;
		position: initial;
		top: 0;
		height: 100px;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		padding: 1%;
		border-top:1px solid black;
		background-color: #333E49;
	}

	input, select{
		display: flex;
		flex-direction: column;
		width: 100px;
	}

	.barra-size{
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */

}

/*REEEESSSSSSSSSSSPOOOOOONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
