
/* ********LOAN CONS******** */

body{
	
}

.background-img{
	background-image: url('../resources/campus_mapa.jpg');

	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.form-background{
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	width: 70%;
	margin-left: 15%;
	padding: 1%;
	margin-top: 5%;
}

.divider-hoz{
    width:100%;
    border:1px solid rgba(4,4,4,0.2);
}

.divider-ver{
    height:30vh;
    border:1px solid rgba(4,4,4,0.2);
}

.loan-card{
	display: flex;
	flex-direction: row;
}

.single-loan{
	width: 40%;
	margin:5%;
	padding: 1%;
	border: 1px solid black;
	border-radius: 10px;	
}

.loan-head{
	background-color: rgba(179, 208, 255,0.5);
	border-radius: 10px;
	padding: 3%;
}

.loan-body{
	width: 100%;
	display: inline-block;
}

.loan-info{
	width: 50%;
	display: inline-block;
}

.loan-info label{

	margin-bottom: 5%;
}

.label-clas{
	color: black;
}

.label-answ{
	color: blue;
}

.loan-table{
	width: 50%;
	display: inline-block;
	margin-left: 5%;
}

.loan-tabl tr{

}

.labs{
	width: 100%;
}

.loan-foot{

}


/* ********LOAN ADD******** */

.loan-style{
	
}

.loan-add-form{

}

.loan-container{
	background-color: white;
	padding: 3%;
}

.loan-size{
	width: 50%;
}

.table-scroll{
	overflow-y: scroll;
	max-height: 300px;
}

.table-row{
	border: 1px solid black;
}

.addloan-btn{
	margin-left: 20%;
}



/* ********LOAN HISTORY******** */

.history-nav{
	margin-top: 3%;
}