
.button-container{

}

.add-button{
	left: 80%;
	margin-top: 1%;
}

.loan-card{
	display: flex;
	flex-direction: row;
}

.single-loan{
	background-color: rgba(40,102,229,0.3);
	width: 30%;
	border: solid;
	border-radius: 10px;
	border-color: rgb(8,40,106);
	border-color: black;
	padding: 0.5%;
	margin-left: 3%;
	margin-top: 3%;
}

.header-card{
	margin: auto;
	padding: 2%;
	background-color: rgba(40,102,229,0.5);
}

b.header-card{

}

/* ********LOAN ADD******** */

.loan-style{
	
}

.loan-data{
	display: flex;
	flex-direction: column;

}

.float-left{
	float: left;
	margin-left: 15%;
	margin-top: 5%;
}

.input-margin{
	margin-bottom: 2%;
}

table{
	width: 100%;
}

.table-row{
	border: 1px solid black;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}