
.form-style{
    color: white;
}

.form-style h1, a{
    color: white;
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 5%;
}


input[type=text], input[type=submit],input[type=password]{
    color: #264653;
    margin-bottom: 5%;
    padding: 5px;
    width: 40%;
    border: 2px solid #E9C46A;
    border-radius: 6px;
}

input[type=submit]:hover{
    border: 2px solid #F4A261;
    background-color: rgba(244 , 162, 97, 0.8);
}

input[type=text]:hover, input[type=password]:hover{
    border: 2px solid #F4A261;
}