/*MENU STYLES*/


/*HEADER*/

/*HEADER*/


/*BODY*/

.center-text{
    text-align: center;
    color: white;
}
.master-box{
    display: flex;
    flex-direction: row; 
    height: 100vh;
}
/*burguer menu*/
.search-field-burger-menu{
    display: inline;
    /*background-color: tomato;*/
}
.burger-menu{
   /* background-color: violet;*/
    width: 40%;
}

/*information boxes*/
.info-box{
    width: 40%;
    /*background-color: pink;*/
}
.display-info-box{
    /*background-color: yellow;*/
    width: 100%; height:200px;
    text-align: center;
    /* margin-top: 4%;*/
}
.info-table{
    margin: auto;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
}
  td, th {
    border: 1px solid #400040;
    text-align: left;
    padding: 8px;
  }

.general-info-table{
    
}

/*map boxes*/
.map-box{
    width: 60%; 
   /*background-color: cyan;*/
}

.map-container{
    width: 90%;height: 100vh;
    margin: auto; 
}

.map-style{
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}

/*BODY*/


/*FOOTER*/


/*FOOTER*/